@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
section .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
.login{
    position: relative;
    padding: 60px;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid #fff;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 1);
}
.login h2{
    position: relative;
    width:100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: #829460;
    margin-bottom: 10px;
}
.login .inputBox{
    position:relative;
}
.login .inputBox input{
    position: relative;
    width: 100%;
    padding: 15px 20px;
    outline: none;
    font-size: 1.25em;
    color:#AA8B56;
    border-radius: 5px;
    background: #fff;
    border: none;
    margin-bottom: 30px;
}
.login .inputBox ::placeholder{
    color:#AA8B56;
}
.login .inputBox #btn{
    position: relative;
    border: none;
    outline: none;
    background: #829460;
    color:#fff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: 500;
    transition: 0.5s;
}
.login .inputBox #btn:hover{
    background: transparent;
    color:#829460;
}
.login .group{
    display: flex;
    justify-content: space-between ;
}
.login .group a{
    font-size: 1.25em;
    color:#AA8B56;
    font-weight: 500;
    text-decoration: none;
}